@font-face {
  font-family: "Nunito Sans Light";
  src: url("./NunitoSans-Light.ttf");
  font-display: block;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Nunito Sans Light", sans-serif !important;
  font-feature-settings: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hide {
  display: none;
}

#fps {
  text-align: center;
}

#controls {
  background-color: hsla(0, 0%, 0%, 0.6);
  white-space: nowrap;
}

h1 {
  font-weight: normal;
}

.blur {
  backdrop-filter: blur(20px);
  background-blend-mode: exclusion;
}

@media (orientation: landscape) {
  #controls {
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 0 1vw;
    font-size: 1vw;
    height: 100%;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 2.5vw;
    margin: 0;
  }

  #toggle {
    font-size: 1vw;
  }

  .control label {
    margin-right: 0.5vw;
  }

  button {
    width: 3vw;
    height: 3vw;
  }

  button img {
    height: 1.2vw;
  }

  .github {
    width: 3vw;
    height: 3vw;
  }
}

.github {
  margin: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.github:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.modes {
  margin-top: 1vmin;
}

.mode {
  padding: 1vmin;
  border: solid;
  border-color: hsl(215, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.2s;
}

.mode:hover:not(.current-mode) {
  background-color: hsla(215, 50%, 50%, 40%);
  transition: background-color 0.2s;
}

.left-mode {
  border-radius: 1vmin 0 0 1vmin;
  border-width: 2px 1px 2px 2px;
}

.middle-mode {
  border-width: 2px 1px 2px 1px;
}

.right-mode {
  border-radius: 0 1vmin 1vmin 0;
  border-width: 2px 2px 2px 1px;
}

.current-mode {
  background-color: hsl(215, 100%, 50%);
}

button {
  border: none;
  background-color: hsl(215, 100%, 50%);
  transition: background-color 0.2s;
  color: #fff;
  font-family: "Nunito Sans Light", sans-serif !important;

  border-radius: 100%;

  padding: 0;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

button:hover {
  background-color: hsl(215, 100%, 45%);
  transition: background-color 0.2s;
}

button:focus {
  background-color: hsl(215, 100%, 60%);
  transition: background-color 0.2s;
}

button:active {
  background-color: hsl(215, 100%, 40%);
  transition: background-color 0.2s;
}

.control-buttons {
  justify-content: space-evenly;
  width: 80%;
}
