@font-face {
  font-family: "Nunito Sans Light";
  src: url("./NunitoSans-Light.ttf");
  font-display: block;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Nunito Sans Light", sans-serif;
  font-feature-settings: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hide {
  display: none;
}

#fps {
  text-align: center;
}

#controls {
  background-color: hsla(0, 0%, 0%, 0.6);
  white-space: nowrap;
}

h1 {
  font-weight: normal;
}

.blur {
  backdrop-filter: blur(20px);
  background-blend-mode: exclusion;
}

@media (orientation: landscape) {
  #controls {
    position: fixed;
    left: 0%;
    top: 0%;
    padding: 0 1vw;
    font-size: 1vw;
    height: 100%;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 2.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
  }

  #toggle {
    font-size: 1vw;
  }

  .control label {
    margin-right: 0.5vw;
  }
}

.github {
  margin: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
  width: 5vh;
  height: 5vh;
}

.github:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

#modes {
  margin-top: 1vmin;
}

#mode-webgl {
  border-radius: 1vmin 0 0 1vmin;
  border-width: 2px 1px 2px 2px;
}

#mode-wasm {
  border-width: 2px 1px 2px 1px;
}

#mode-js {
  border-radius: 0 1vmin 1vmin 0;
  border-width: 2px 2px 2px 1px;
}

.mode {
  padding: 1vmin;
  border: solid;
  border-color: hsl(215, 100%, 50%);
  cursor: pointer;
}

.mode:hover:not(.current-mode) {
  background-color: hsla(215, 50%, 50%, 40%);
}

.current-mode {
  background-color: hsl(215, 100%, 50%);
}
