@font-face {
  font-family: "Nunito Sans Light";
  src: url("./NunitoSans-Light.ttf");
  font-display: block;
}

body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Nunito Sans Light", sans-serif;
  font-feature-settings: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

#fps {
  text-align: center;
}

#controls {
  background-color: hsla(0, 0%, 0%, 0.5);
  white-space: nowrap;
}

h1 {
  font-weight: normal;
}

.blur {
  backdrop-filter: blur(20px);
  background-blend-mode: exclusion;
}

@media (orientation: landscape) {
  #controls {
    position: fixed;
    left: 0%;
    top: 0%;
    /* transform: translateY(-50%); */

    padding: 0 1vw;
    /* border-radius: 0 0 1vw 0; */

    font-size: 1vw;
    height: 100%;
    justify-content: space-evenly;
  }

  h1 {
    font-size: 2.5vw;
    margin-top: 0;
    margin-bottom: 1vw;
  }

  #toggle {
    font-size: 1vw;
  }

  .control {
  }

  .control label {
    margin-right: 0.5vw;
  }
}

.github {
  margin: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
  width: 5vh;
  height: 5vh;
}

.github:hover {
  opacity: 1;
  transition: opacity 0.2s;
}
